#yarn
**/package-lock.json
**/yarn-error.log
**/debug.log
**/yarn.lock

# Sequelize
**/sequelize_data.json
**/sequelize_meta.json

# compiled output
**/dist

# Environment
**/.env

# dependencies
**/node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
**/distnpm-debug.log
**/disttestem.log

# System Files
.DS_Store
Thumbs.db

aggr_mongovolume
postgres_db
raw_mongovolume
mongovolume
.vscode/launch.json
